.navbar.navbar-light .breadcrumb .nav-item .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #4e969a;
}

.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  background-color: white;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #4e969a;
}

.navbar.navbar-light .breadcrumb .nav-item.active > .nav-link,
.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link:hover {
  color: black;
}

.navbar .nav-item .nav-link {
  padding-top: 20px;
  padding-bottom: 15px;
}

.navbar-expand-md .navbar-nav .nav-link {
  margin-right: 1rem;
  font-size: medium;
}

.navbar-brand {
  margin-right: 8rem;
  margin-left: 3rem;
}

.navbar-navlink-style {
  background-color: white;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #4e969a;
}
